* {
  font-family: 'Khand';
  margin: 0;
  padding: 0;
}

html, body {
  color: #fff;
  font-family: 'Khand'; /* 영어폰트 */
  margin: 0 auto;
  overflow-X: hidden;
  overflow-Y: auto;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #FED057;
}

ul, li {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

ul li {
  display: inline-block;
}

header {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  background: #26394E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: initial;
  z-index: 9;
  transition: all .5s ease-in-out;
}

header .box {
  display: none;
  height: 40px;
  line-height: 40px;
  margin: 0 80px;
  padding: 20px;
}

header .box>ul {
  display: inline-block;
  margin-left: 5px;
}

header .box>ul li {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 30px;
}

#overlay {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 99;
  transition: all .5s ease-in-out;
}

html.active #overlay {
  opacity: .65;
  visibility: visible;
  transition: all .5s ease-in-out;
}

#home {
  backgroud-imge: url(../imgge/logo2.png);
  z-index: 9999;
  height: 80px;
  margin: 0;
  paddding: 0px;
}

#home, .logo>a {
  display: block;
  font-size: 32px;
  height: 36px;
  left: 0;
  line-height: 36px;
  margin: 10px 20px;
  overflow: hidden;
  padding: 2px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 36px;
}

.logo {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  position: relative;
  width: initial;
}

.logop {
  font-size: 18px;
  color: #fff;
  margin-left: 20px;
}

.logop {
  margin-right: 8px;
}

.sign-up {
  background: #FED057;
  border: 1px solid #FED057;
  color: #FFF;
  font-family: 'Khand';
  font-size: 20px;
  font-weight: bold;
  height: 4.5%;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 90%;
}

.sign-up:hover {
  background: #FFF;
}

.sign-up a {
  display: block;
}

.sign-up span {
  margin: 0 auto 0 8px;
}

#close-menu {
  color: #fff;
  cursor: pointer;
  display: block;
  height: 20px;
  line-height: 20px;
  margin: 15px 35px 15px auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20px;
}

#close-menu i {
  font-size: 30px;
}

.side-bar {
  background: #26394E;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: -320px;
  top: 0;
  width: 320px;
  z-index: 1;
  transition: all .5s ease-in-out;
  height: 100%;
}

.side-bar .logo {
  height: 5%;
}

.side-bar .container {
  height: 95%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 258px;
  transition: all .5s ease-in-out;
}

.side-bar .container .box {
  border-top: 3px solid;
  width: 96%;
  margin: 0 auto;
  height: 100%;
}

.side-bar .box ul:nth-child(1) {
  border-bottom: 3px solid;
  height: 45%;
}

.side-bar .box ul {
  padding: 10px 0;
}

.side-bar ul li {
  border-bottom: 1px solid #EDEDED;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 10%;
  letter-spacing: 0.12em;
  line-height: 39px;
  text-transform: uppercase;
}

.side-bar ul:nth-child(2) {
  height: 13%;
}

.side-bar ul:nth-child(2) li {
  font-size: 12px;
  height: 33.3333%;
  margin: 0 auto;
}

.side-bar ul:nth-child(2) li:last-child {
  border-bottom: 1px solid #EDEDED;
}

.side-bar ul:nth-child(3) {
  height: 8%;
  margin: 0 auto;
}

.side-bar ul:nth-child(3) li {
  border: 0;
  display: inline-block;
  margin: 0 auto;
}

.side-bar ul:nth-child(3) li>a {
  color: #898989;
  display: block;
  font-size: 40px;
  width: 100%;
  text-align: center;
  letter-spacing: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}

.side-bar ul:nth-child(3) li>a>i {
  color: #898989;
  display: block;
  font-size: 40px;
  text-align: center;
  width: 50%;
  text-align: center;
  letter-spacing: 20px;
  margin-left: auto;
  margin-right: auto;
}

.side-bar ul li:last-child {
  border: 0;
}

html.active .side-bar {
  right: 0;
  z-index: 999;
}

#menu {
  cursor: pointer;
  display: block;
  font-size: 25px;
  height: 40px;
  line-height: 40px;
  margin: 20px 30px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px;
}

@media only screen and (min-width: 520px) {
  header .container {
    max-width: 640px
  }
  header .box {
    display: block;
  }
}