.hero {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.hero.scrolled {
  transform: translate3d(0, -100%, 0) scale(.75);
  opacity: 0;
}

.hero-inner {
  background-size: cover;
  background-position: center;
  display: table;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.hero-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: montserrat;
}

.title {
  letter-spacing: .3em;
  text-transform: uppercase;
}

.text-light {
  color: #fff
}

.hero {
  overflow: hidden;
  z-index: 1;
}

.content {
  position: relative;
  padding: 0;
  margin: 0;
  transition: all 1.6s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translate3d(0, 20px, 0) scale(.75);
  opacity: 0;
}

.content.scrolled {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}

.sd {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.sd:hover, .sd:focus {
  color: #fff;
  opacity: .7;
  text-decoration: none;
}

.row {
  width: 1200px;
  height: 800px;
}