.wrap {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
  align-items: center;
  margin-left: 10px;
}

.snip {
  position: relative;
  overflow: visible;
  margin-left: 2.3%;
  width: 80%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  /* background-color: #FED057; */
  float: left;
}

.snip1 {
  position: relative;
  overflow: visible;
  margin-left: 2.3%;
  width: 50%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  /* background-color: #FED057; */
  float: left;
  display: none;
}

.snip2 {
  position: relative;
  overflow: visible;
  margin-left: 2.5%;
  width: 50%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  /* background-color: #FED057; */
  float: left;
  display: none;
}

.snip3 {
  position: relative;
  overflow: visible;
  margin-left: 2.5%;
  width: 50%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  /* background-color: #FED057; */
  float: left;
  display: none;
}

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip2 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip3 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip img {
  vertical-align: top;
  max-width: 100%;
  width: 1150px;
  height: 185px;
  backface-visibility: hidden;
}

.snip1 img {
  vertical-align: top;
  max-width: 100%;
  width: 1150px;
  height: 185px;
  backface-visibility: hidden;
}

.snip2 img {
  vertical-align: top;
  max-width: 100%;
  width: 1150px;
  height: 185px;
  backface-visibility: hidden;
}

.snip3 img {
  vertical-align: top;
  max-width: 100%;
  width: 1150px;
  height: 185px;
  backface-visibility: hidden;
}

.snip figcaption {
  position: relative;
  top: -185px;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip1 figcaption {
  position: relative;
  top: -185px;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip2 figcaption {
  position: relative;
  top: -185px;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip3 figcaption {
  position: relative;
  top: -185px;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip h3, .snip h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1 h3, .snip1 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip2 h3, .snip2 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip3 h3, .snip3 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
}

.snip1 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
}

.snip2 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
}

.snip3 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
}

.snip h5 {
  font-weight: normal;
  font-style: italic;
  color: #888;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip1 h5 {
  font-weight: normal;
  font-style: italic;
  color: #888;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip2 h5 {
  font-weight: normal;
  font-style: italic;
  color: #888;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip3 h5 {
  font-weight: normal;
  font-style: italic;
  color: #888;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip2 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip3 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip:hover>img, .snip.hover>img {
  opacity: 0.1;
}

.snip1:hover>img, .snip1.hover>img {
  opacity: 0.1;
}

.snip2:hover>img, .snip2.hover>img {
  opacity: 0.1;
}

.snip3:hover>img, .snip3.hover>img {
  opacity: 0.1;
}

.snip:hover h3, .snip.hover h3, .snip:hover h5, .snip.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.snip1:hover h3, .snip1.hover h3, .snip1:hover h5, .snip1.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.snip2:hover h3, .snip2.hover h3, .snip2:hover h5, .snip2.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.snip3:hover h3, .snip3.hover h3, .snip3:hover h5, .snip3.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}